<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- mybatis 설정 -->  
<configuration>
    <!-- mapUnderscoreToCamelCase 맵핑 -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.pcwk.ehr.chart.domain.LevelPerMemberVO" alias="LevelPerMemberVO"/>
        <typeAlias type="com.pcwk.ehr.code.domain.CodeVO"   alias="CodeVO"/>
        <typeAlias type="com.pcwk.ehr.user.domain.UserVO"   alias="UserVO"/>
        <typeAlias type="com.pcwk.ehr.file.domain.FileVO"   alias="FileVO"/>
        <typeAlias type="com.pcwk.ehr.board.domain.BoardVO" alias="BoardVO"/>
    </typeAliases>
</configuration>