<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.board">
  <select id="doSelectOne" parameterType="BoardVO" resultType="BoardVO">
	SELECT
	    seq,
	    div,
	    title,
	    contents,
	    read_cnt,
	    TO_CHAR(reg_dt,'YYYY-MM-DD HH24:MI:SS') reg_dt,
	    reg_id,
	    TO_CHAR(mod_dt,'YYYY-MM-DD HH24:MI:SS') mod_dt,,
	    mod_id
	FROM
	    board
	WHERE seq = #{seq}      
  </select>

  <delete id="doDelete" parameterType="BoardVO">
	DELETE FROM board
	WHERE   seq = #{seq}  
  </delete>
  
  <insert id="doSave" parameterType="BoardVO">
    <selectKey resultType="int" keyProperty="boardSeq" order="BEFORE">
        SELECT BOARD_SEQ.NEXTVAL FROM DUAL
    </selectKey>
	INSERT INTO board (
	    seq,
	    div,
	    title,
	    contents,
	    read_cnt,
	    reg_dt,
	    reg_id,
	    mod_dt,
	    mod_id
	) VALUES (
	    #{boardSeq},
	    #{div},
	    #{title},
	    #{contents},
	    #{readCnt},
	    SYSDATE,
	    #{regId},
	    SYSDATE,
	    #{modId}
	)  
  </insert>
  
</mapper>